<div class="note-new-container"
     data-controller="note-form"
     data-note-form-finish-url-value="<%= finish_entry_path(@entry) %>">
  <h1>Jot something down</h1>

  <%= simple_form_for(:note, url: notes_path, method: :post,
        html: { data: { action: 'submit->note-form#submit' } }) do |f| %>
      <div class="input-wrapper">
        <%= f.input :content,
            as: :text,
            label: false,
            placeholder: 'A summary, a theme, anything to jumpstart you for next time...',
            required: false,
            input_html: { class: 'single-line-input' } %>
      </div>
      <%= hidden_field_tag :entry_id, @entry.id %>
      <div class="input-wrapper">
        <%= check_box_tag :finished_book, '1', false, id: 'finished_book' %>
        <%= label_tag :finished_book, "Finished #{@entry.user_book.book.title.titlecase}" %>
      </div>
      <%= f.submit 'Review', class: 'button' %>
    <% end %>

    <%= button_to 'Skip', finish_entry_path(@entry), method: :patch, class: 'button button--ghost' %>
  </div>
</div>
