<div class="user-profile">
  <h1 class="user-profile__greeting">
    <% if @first_name.nil? %>
      Welcome to Breadshelf!
    <% else %>
      Hello, <%= @first_name %>!
    <% end %>
  </h1>

  <div class="user-profile__score">
    <div class="user-profile__stat">
      <%= image_tag 'loaf.svg', alt: 'loaves', class: 'user-profile__stat-icon' %>
      <span class="user-profile__stat-value"><%= @loaves.to_i %></span>
      <span class="user-profile__stat-label"><%= 'loaf'.pluralize(@loaves.to_i) %></span>
    </div>
    <div class="user-profile__stat">
      <%= image_tag 'slice.svg', alt: 'slices', class: 'user-profile__stat-icon' %>
      <span class="user-profile__stat-value"><%= @slices.to_i %></span>
      <span class="user-profile__stat-label"><%= 'slice'.pluralize(@slices.to_i) %></span>
    </div>
    <div class="user-profile__stat">
      <%= image_tag 'crumbs.svg', alt: 'crumbs', class: 'user-profile__stat-icon' %>
      <span class="user-profile__stat-value"><%= @crumbs.to_i %></span>
      <span class="user-profile__stat-label"><%= 'crumb'.pluralize(@crumbs.to_i) %></span>
    </div>
  </div>

  <% if @signed_in %>
    <%= render 'book_list' %>
  <% else %>
    <%= render 'sign_up' %>
  <% end %>
</div>
